* {
    font-family: "Bodoni MT", 'Didot', "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
}

.header:hover {
    cursor: pointer;
}

h1 {
    margin: 0;
    margin-top: 5px;
    opacity: 0;
    padding: 5px;
}
#enter p {
    margin: 10px;
    opacity: 0;
    padding: 5px;
}
#enter {
    margin-top: 300px;
}
#quote {
    opacity: 0;
    margin-left: 60vh;
    margin-top: 300px;
    text-align: left;
}

#firline {
    height: 2px;
    width: 0%;
    background-color: black;
    margin: 0 auto;
}
