.flex-container {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.ages {
    width: 200px;
}

.ages h2 {
    text-align: center;
}

.ages ul {
    margin: 0;
    padding-left:0;
    list-style-position: inside;
}

.ages ul li {
    list-style:none;
}

.ages button {
    cursor: pointer;
    font-size: 14pt;
    border-style: solid;
    border-width: medium;
    border-color: black;
    width: 100px;
    height: 50px;
    border-bottom: 0;
}

.ages ul:last-child button{
    border-style: solid;
    border-width: medium;
    border-color: black;
    width: 100px;
    height: 50px;
}

#plot {
    margin-top: 50px;
    width: 900px;
    height: 300px;
}